#numkeybord{ position:absolute; border:#999999 solid 1px; background:#FFFFFF; width:104px; font-size:12px; line-height:20px; display:none;}
#numkeybord #main{ list-style:none; border:#999900 dashed 0px; margin:0px auto 1px auto; width:104px; padding:0px; overflow:auto; }
#numkeybord #main td{ text-align:center; border:#CCCCCC solid 1px; padding:1px; margin:1px; width:20px; height:20px; display:block; float:left; cursor:pointer;}
#numkeybord #main td#back{ width:46px;}
#numkeybord #main td#enter{ width:46px;}
#numkeybord #main td#esc{ width:46px;}
#numkeybord #main td#hover{ background:#333333; color:#FFFFFF;} 